* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input:focus-visible {
    outline: 0;
}

.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    min-width: 50vw;
    padding: 10px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 50%);
    background: #55A654;
    border-radius: 2px;
    margin-top: 10px;
}

#pass-box {
    width: 100%;
    display: block;
    background-color: white;
    font-size: 30px;
    padding: 10px;
    border-radius: 4px;
}

.row {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    color: white;
    font-size: 20px;
}

label {
    user-select: none;
}

#btn {
    width: 100%;
    font-size: 20px;
    outline: 0;
    border: 0;
    padding: 10px;
    background-color: #F8D788;
    color: rgb(32, 24, 24);
    margin-top: 10px;
    border-radius: 5px;
}

#top_view {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn1 {

    width: 100%;
    font-size: 20px;
    outline: 0;
    border: 0;
    padding: 10px;
    background-color: #34495e;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 5px;

}

#img_background {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    z-index: -5;

}

/* slider css  start  */

.slidecontainer {
    width: 100%;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 25px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #054adf;
    cursor: pointer;
    border-radius: 25px;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

/* slider css end  */

@media (max-width:600px) {

    #img_background {


        height: auto;



    }

    body {
        background-color: grey;
    }

    #top {
        position: absolute;
        margin-left: 20%;
        margin-top: 2%;
        color: white;
        font-size: 5px;

    }
}

#top {
    position: absolute;
    margin-left: 20%;
    margin-top: 2%;
    color: white;
    font-size: 30px
}